body {
    padding          : 0;
    margin           : 0;
    background-color : rgba(15, 21, 37, 0.8)
}

#title-page {
    text-align    : center;
    position      : absolute;
    top           : 20%;
    border        : 1px solid #ccc;
    color         : white;
    padding       : 40px;
    padding-top   : 0px;
    border-radius : 10px;
    width         : 50%;
    margin-left   : 25%;
}

#title-page h1 {
    font-size : 3em;
    padding-bottom : 50px;
}

#title-page a {
  text-align : center;
}